.register
{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
    background-size: cover;
    align-items: center;

}
.registerTitle
{
    font-size: 50px;
    color: aliceblue;
}
.registerForm
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm>label{
    margin: 10px 0;
    color:aliceblue ;
}
.registerInput{
    padding : 10px;
    background-color: white;
    border: none;
}
.registerSubmit{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}
.LoginButton{
position: absolute;
top: 60px;
right: 20px;
background-color:lightcoral;
cursor: pointer;
border: none;
padding: 10px;
color: white;
border-radius: 10px;
}